body {
    background-color: navy;
}

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    text-align: center;
    background-color: orange;
    margin: auto;
    width: 50%;
}

section {
    text-align: center;
    padding: 25px;
    margin: auto;
    width: 50%;
}

div {
    margin: auto;
    width: 50%;
}

button {
    margin: 5px;
}

#save {
    margin-left: 49%;
}

.not-complete {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: orange;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
}

.complete {
    text-align: center;
    text-decoration: line-through;
    list-style: none;
    color: red;
    background-color: orange;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
}